export BUILDKITE_AGENT_ACCESS_TOKEN=XXXX
export BUILDKITE_BUILD_NUMBER=57010
export BUILDKITE_PLUGIN_PARALLEL_ARTIFACT_S3_BUCKET=mybuildartifacts
export BUILDKITE_PLUGIN_PARALLEL_ARTIFACT_AWS_REGION=us-east-1
export BUILDKITE_PLUGIN_PARALLEL_ARTIFACT_PATTERN=tmp/artifacts/rspec-*.txt;tmp/coverage/*/.resultset.json
export BUILDKITE_PLUGIN_PARALLEL_ARTIFACT_OUTDIR=tmp/test-summary
